root = true

[*.{kt,kts}]
indent_size = 4
insert_final_newline = true
max_line_length = 120
# Jetpack Compose convention: @Composable functions are PascalCase (they read as UI components).
ktlint_function_naming_ignore_when_annotated_with = Composable
